@media(max-width:576px) {

    nav {
        /* border: 1px solid; */
        display: block;
        /* width: 100%; */
        height: 50px;
        background-color: beige;
    }

    .logo {
        /* border: 1px solid red; */
        width: 100%;
    }

    .logo h2 {
        font-family: monospace;
        font-size: 35px;
        margin: 0px 0px 1px 15px;
    }

    .menu {
        /* border: 1px solid green; */
        width: 100%;
    }

    ul {
        text-align: start;
        margin-top: 10px;
    }

    li {
        /* display: block; */

        /* display: none; */
        margin: 10px;
    }

    a {
        text-decoration: none;
        font-size: 15px;
        margin: 0px 5px;
    }
}